<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8G65r_DeZcCWe4I1G6YhFleOuedVIzTc</string>
	<key>GCM_SENDER_ID</key>
	<string>585667916644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>music-social-media-app-c6815</string>
	<key>STORAGE_BUCKET</key>
	<string>music-social-media-app-c6815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585667916644:ios:113662072b26989fdc0071</string>
</dict>
</plist>